[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/endwise"]
	path = vim/bundle/endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/multiple-cursors"]
	path = vim/bundle/multiple-cursors
	url = git://github.com/terryma/vim-multiple-cursors.git
[submodule "vim/bundle/rails"]
	path = vim/bundle/rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vim/bundle/ruby"]
	path = vim/bundle/ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "vim/bundle/rvm"]
	path = vim/bundle/rvm
	url = git://github.com/tpope/vim-rvm.git
[submodule "vim/bundle/haml"]
	path = vim/bundle/haml
	url = git://github.com/tpope/vim-haml.git
[submodule "vim/bundle/webapi"]
	path = vim/bundle/webapi
	url = git://github.com/mattn/webapi-vim.git
[submodule "vim/bundle/gist"]
	path = vim/bundle/gist
	url = git://github.com/mattn/gist-vim.git
[submodule "vim/bundle/jasmine"]
	path = vim/bundle/jasmine
	url = git://github.com/claco/jasmine.vim.git
[submodule "vim/bundle/tlib"]
	path = vim/bundle/tlib
	url = git://github.com/tomtom/tlib_vim.git
[submodule "vim/bundle/mw-utils"]
	path = vim/bundle/mw-utils
	url = git://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = git://github.com/garbas/vim-snipmate.git
[submodule "vim/bundle/ag"]
	path = vim/bundle/ag
	url = git://github.com/rking/ag.vim
[submodule "vim/bundle/liquid"]
	path = vim/bundle/liquid
	url = git://github.com/tpope/vim-liquid.git
